/* color: #4169E1 #A9A9A9 #6495ED #778899 */

*{
    margin: 0;
}

header{  
    width: 320px;
    height: 90px;
    background: #4169e1;
    color: #ffffff;
}

header h1{
    position: absolute;
    top: 20px;
    left: 5px;
}

.motto{
    position: absolute;
    top: 55px;
    left: 5px;
    color: #A9A9A9;
}

nav{
    width: 320px;
    background: #6495ED;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a:link{ color: lightblue;}
a:visited{ color: rgb(72, 72, 199);}
a:focus{ color: aqua;}
a:hover{ color: aqua; background: lightblue;}
a:active{ color: rgb(72, 72, 199); background: rgb(142, 172, 228);}