/* color: #4169E1 #A9A9A9 #6495ED #778899 */

*{
    margin: 0;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #4169e1;
}

header h1{
    color: #ffffff;
}

header .motto{
    color: #A9A9A9;
    margin: 3px;
}

header img{
    width: 50%;
}




nav{
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #6495ED;
}

nav button{
    background-color: transparent;
    border: none;
    text-align: center;
    font-size: 1.6rem;
}

nav button:hover{
    color: black;
    background: lightblue;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul.hide{
    display: none;
}

nav li a{
    display: block;
    color: lightblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a.active{
    background: aqua;
    color: black;    
}

nav li a:hover{
    color: black;
    background: lightblue;
}




main .gallery{
    display: grid;
    grid-template-columns: 1fr;
    gap: 3%;
    margin-left: 3%;
    margin-right: 3%;
}

.gallery img{
    width: 400px;
}



main picture.hero img{
    width: 100%;
}


.article{
    margin: 5px;
    padding: 5px;
}


.contact{
    margin: 5px;
    padding: 5px;
}


form{
    margin: 10px;
    padding: 5px;
}

#thanks{
    text-align: center;
    margin: 20px;
    padding: 10px;
}