/* 
font-family: 'Cinzel', serif;
font-family: 'Indie Flower', cursive;
font-family: 'Raleway', sans-serif;
*/

*{
    margin: 0;
}


header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

header img{
    margin: 10px;
    border-radius: 20px;
}

header h1{
    font-size: 70px;
    font-family: 'Cinzel', serif;
}

.slogan{
    position: absolute;
    right: 20%;
    top: 150px;
    font-size: 32px;
    font-family: 'Indie Flower', cursive;
}


main{
    font-family: 'Raleway', sans-serif;
}


nav{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

nav button{
    display: none;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

nav ul.hide{
    display: block;
}

nav li{
    float: left;
    border-right: 1px solid #e0e2e2;
}

nav li:nth-child(1){
    border-left: 1px solid #e0e2e2;
}

nav li a{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}

nav li a:hover{
    color: black;
    background: #bdc0c0;
}

nav li a.active{
    background: #e0e2e2;
    color: black;    
}



.action{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 10px;
}

.quickcontact{
    font-size: 20px;
    margin: 20px;
}
.quickreserve{
    font-size: 20px;
    margin: 20px;
}



.summary{
    position: relative;
    margin-left: 55%;
    margin-right: 21%;
    padding: 10px;
    bottom: 400px;
}

.summaryimg{
    width: 350px;
    height: auto;
    margin-left: 32%;
    margin-top: 40px;
}

.summary p{
    margin: 12px;
}



form{
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    margin-right: 20%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.reserveform input{
    width: 250px;
}
.reserveform select{
    width: 250px;
}
.reserveform textarea{
    height: 100px;
}
.thank{
    display: flex;
    justify-content: center;
    margin: 25%;
}



.contact{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

.contact .info{
    margin: 5%;
    font-size: 20px;
}

.contactform{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 30%;
    margin-right: 30%;
}
.contactform textarea{
    height: 100px;
}
.contactform input{
    width: 250px;
}



footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #bdc0c0;
    color: black;
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
}

footer p{
    padding: 5px;
}

footer #date{
    padding: 5px;
}

footer a{
    color: #ffffff;
}