/* 
font-family: 'Cinzel', serif;
font-family: 'Indie Flower', cursive;
font-family: 'Raleway', sans-serif;
*/

*{
    margin: 0;
}


header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

header img{
    margin: 10px;
    border-radius: 20px;
}

header h1{
    font-size: 70px;
    font-family: 'Cinzel', serif;
}

.slogan{
    position: absolute;
    right: 20%;
    top: 150px;
    font-size: 32px;
    font-family: 'Indie Flower', cursive;
}


main{
    font-family: 'Raleway', sans-serif;
}


nav{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

nav button{
    display: none;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

nav ul.hide{
    display: block;
}

nav li{
    float: left;
    border-right: 1px solid #e0e2e2;
}

nav li:nth-child(1){
    border-left: 1px solid #e0e2e2;
}

nav li a{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}

nav li a:hover{
    color: black;
    background: #bdc0c0;
}

nav li a.active{
    background: #e0e2e2;
    color: black;    
}



.homeintro{
    margin: 40px;
    margin-left: 22.5%;
    margin-right: 22.5%;
}
.homeintro h2{
    text-align: center;
    padding: 15px;
}
.homeintro p{
    font-size: 20px;
}

.templeshow{
    text-align: center;
    font-size: 30px;
    margin-top: 100px;
}



.action{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 10px;
}

.quickcontact{
    font-size: 20px;
    margin: 20px;
}
.quickreserve{
    font-size: 20px;
    margin: 20px;
}



.summary{
    position: relative;
    margin-left: 55%;
    margin-right: 21%;
    padding: 10px;
    bottom: 400px;
}

.summaryimg{
    width: 350px;
    height: auto;
    margin-left: 32%;
    margin-top: 40px;
}

.summary p{
    margin: 12px;
}



form{
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    margin-right: 20%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.reserveform input{
    width: 250px;
}
.reserveform select{
    width: 250px;
}
.reserveform textarea{
    height: 100px;
}
.thank{
    display: flex;
    justify-content: center;
    margin: 25%;
}



.contact{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

.contact .info{
    margin: 5%;
    font-size: 20px;
}

.contactform{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 30%;
    margin-right: 30%;
}
.contactform textarea{
    height: 100px;
}
.contactform input{
    width: 250px;
}

iframe{
    width: 600px;
    height: 500px;
}



.spotlight{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 5%;
    text-align: center;
}
.spotlight .templeimg{
    width: 40%;
    height: 40%;
}
.spotlight h2{
    margin-top: 60px;
}

.spotlight .spotone{
    display: flex;
    justify-content: space-around;
    margin: 2.5%;
    text-align: left;
}
.spotlight .spotone .templeimg{
    width: 35%;
    height: 35%;
}
.spotlight .spottwo{
    display: flex;
    justify-content: space-around;
    margin: 2.5%;
    margin-right: 5%;
    text-align: left;
}
.spotlight .spotthree{
    display: flex;
    justify-content: space-around;
    margin: 2.5%;
    text-align: left;
}
.spotlight .spotfour{
    display: flex;
    justify-content: space-around;
    margin: 2.5%;
    text-align: left;
}



.serviceintro{
    margin: 15px;
    margin-left: 25%;
    margin-right: 25%;
}
.serviceintro h2{
    padding: 15px;
    font-size: 30px;
    text-align: center;
}
.serviceintro p{
    font-size: 20px;
}


.amenities{
    display: flex;
    justify-content: center;
    margin: 70px;
}

.amenityimg{
    display: flex;
    flex-direction: column;
}
.amenityimg img{
    padding: 10px;
}

.amenityword{
    display: flex;
    flex-direction: column;
}
.amenityword h3{
    font-size: 25px;
    text-align: center;
}
.amenityword ul{
    list-style-type: none;
    font-size: 20px;
    margin: 15px;
}
.amenityword li{
    padding: 4px;
}



.specialservices{
    display: flex;
    justify-content: center;
}

.serviceimg{
    display: flex;
    flex-direction: column;
}
.serviceimg img{
    width: 60%;
    height: auto;
    padding: 40px;
}

.serviceword{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}
.serviceword h3{
    font-size: 25px;
    text-align: center;
}
.serviceword h4{
    font-size: 15px;
    padding: 10px;
    text-align: center;
}
.serviceword ul{
    list-style-type: none;
    font-size: 20px;
    margin: 15px;
}
.serviceword li{
    padding: 15px;
}


.serviceout{
    text-align: center;
    margin: 20px;
}



.fullintro{
    display: flex;
    justify-content: center;
    margin: 50px;
}
.fullword{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    padding-right: 20px;
}
.fullword p{
    width: 400px;
    margin-top: 20px;
}
.fullimg img{
    width: 100%;
}

.fullcontact{
    text-align: center;
    margin: 20px;
}
.fullform{
    display: flex;
    flex-direction: column;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 40px;
}



.receptintro{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
    text-align: center;
}
.receptintro h2{
    margin: 20px;
}
.receptintro h3{
    margin: 10px;
    margin-top: 70px;
}
.receptintro p{
    margin: 5px;
}
.receptintro img{
    margin: 5px;
}

.receptout{
    margin: 55px;
}



footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #bdc0c0;
    color: black;
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
}

footer p{
    padding: 5px;
}

footer #date{
    padding: 5px;
}

footer a{
    color: #ffffff;
}