/* 
font-family: 'Cinzel', serif;
font-family: 'Indie Flower', cursive;
font-family: 'Raleway', sans-serif;
*/

*{
    margin: 0;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

header img{
    width: 50%;
    margin-top: 15px;
    border-radius: 20px;
}

header h1{
    font-size: 40px;
    font-family: 'Cinzel', serif;
}

header .slogan{
    margin-bottom: 15px;
    font-size: 20px;
    font-family: 'Indie Flower', cursive;
}



main{
    font-family: 'Raleway', sans-serif;
}



nav{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

nav button{
    background-color: transparent;
    border: none;
    text-align: center;
    font-size: 1.6rem;
}

nav button:hover{
    color: black;
    background: #bdc0c0;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul.hide{
    display: none;
}

nav li{
    border-top: 1px solid #e0e2e2;
}

nav li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover{
    color: black;
    background: #bdc0c0;
}

nav li a.active{
    background: #e0e2e2;
    color: black;    
}



.action{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.actionbar{
    margin-top: 30px;
}

.quickcontact{
    font-size: 20px;
    margin: 20px;
}
.quickreserve{
    font-size: 20px;
    margin: 20px;
}



.summary{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
    margin-top: 20px;
}

.summaryimg{
    width: 60%;
    height: auto;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 40px;
}

.summary h2{
    text-align: center;
}
.summary p{
    margin: 12px;
}



.reserveform{
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.reserveform input{
    width: 250px;
}
.reserveform select{
    width: 250px;
}
.reserveform textarea{
    height: 100px;
}
.thank{
    display: flex;
    justify-content: center;
    margin: 25%;
}



.contact{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.contact .info{
    margin: 5%;
    font-size: 20px;
}

.contactform{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 20%;
    margin-right: 30%;
}
.contactform textarea{
    height: 100px;
}
.contactform input{
    width: 250px;
}



footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #bdc0c0;
    color: black;
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
}

footer p{
    padding: 5px;
    text-align: center;
}

footer #date{
    padding: 5px;
}

footer a{
    color: #ffffff;
}