/* color: #4169E1 #A9A9A9 #6495ED #778899 */

*{
    margin: 0;
}


header{

    width: 100%;
    text-size-adjust: 1.2em;
    background: #4169e1;
    color: #ffffff;
}


header h1{
    display: block;
    position: relative;
    text-align: center;
    top: 20px;
}


header img{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}


.motto{
    display: block;
    position: relative;
    text-align: center;
    bottom: 1px;
    color: #A9A9A9;
}


nav{
    width: 100%;
}


ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6495ED;
}


li{
    float: left;
    border-right: 1px black;
}


li a{
    display: block;
    color: lightblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover{
    color: black;
    background: lightblue;
}


a .active{
    background: aqua;
    color: black;    
}


.article{
    margin: 5px;
    padding: 5px;
}


.contact{
    margin: 5px;
    padding: 5px;
}